<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.x_mega.oculator" >

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name="com.x_mega.oculator.MegaCam"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        >
        <activity android:name="com.x_mega.oculator.activity.CaptureActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.x_mega.oculator.activity.ApplyFiltersActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name="com.x_mega.oculator.activity.ShareActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
            >
        </activity>
    </application>

</manifest>
